body{
	background-color: #fafafa;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

#navbar {
  position: fixed;
  background-color: #66cc00;
  color: #ffffff;
  height: 55px;
  .burger {
    position: absolute;
    left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  z-index: 500;
  width: 100%;
  background-color: #66cc00;
  top: 0;
  left: 0;

  box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.landing {
  text-align: center;
}

.image {
  padding-top: 50px;
  margin-left: -15px;
}

.title {
  color: #8f00ff;
  padding-top: 30%;
  h1 {
    font-weight: 300;
  }
}

.button-holder {
  padding-top: 30%;
  justify-content: space-around;
  display: flex;
}

.child-button {
  background-color: #525A7F !important;
  color: #ffffff !important;
}

.parent-button {
  background-color: #66cc00 !important;
  color: #ffffff !important;
}